<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apotek Pusing Farma</title>
    <link rel="shortcut icon"
        href="https://img2.pngdownload.id/20180605/rfv/kisspng-pharmacy-logo-pharmaceutical-drug-clip-art-pasteur-5b16c141ee8e24.7387263915282179219771.jpg"
        type="Logo">

    <!-- set bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        #ex {
            text-align: left;
            background-image: url("data:");
            background-position-x: 1332px;
            background-position-y: 90px;
            background-size: 70px;
            background-repeat: no-repeat;
        }

        #spinner {

            animation: spin 1s linear infinite;
            color: red;
        }
    </style>
</head>

<body>
    <!-- navigation section -->
    <nav class="navbar navbar-expand-lg bg-primary text-black mb-3 ">
        <div class="container-fluid bottom-0">
            <a class="navbar-brand fw-bold fst-italic fs-3" href="#">Apotek Pusing Farma</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse id" id="navbarNav">
                <img style="width: 75px;height: 50px;border-radius: 5px;" src="https://i.imgflip.com/2xc9z0.png" alt="">
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav fw-bold font-monospace">
                    <li class="nav-item ">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/obat">Obat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/customer">Customer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/apoteker">Apoteker</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/transaksi/add">Form Transaksi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/transaksi">Transaksi</a>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-sm btn-danger fw-semibold ms-5 "
                            style="border-radius: 15px;padding: 4px;">
                            <a href="/auth/logout" class="nav-link" style="font-size: 12px;color: white;"
                                onclick="return confirm(`Yakin Dek ?`)">
                                <b>Log Out</b>
                            </a>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- end navigation section -->
    <!-- <div class="candaan">
            <marquee behavior="alternate" direction="right"><i>
                    <h5 class="text-danger">Pusing Hilang, Nyawa Melayang...</h5>
                </i></marquee>
        </div> -->
    <div class="waktu d-flex justify-content-end align-content-center" style="padding-right: 120px;">
        <h1 style="font-size: 16px;color: rgb(0, 63, 63);"> Waktu Sekarang :<span id="time" style="color: black;">
            </span></h1>
    </div>
    <!-- content section -->
    <%- include(`./pages/${page}`) %>
        <!-- end content section-->

        <!-- footer section -->
        <div class="container-fluid position-fixed bottom-0 mt-2 bg-black mb-0 p-1">
            <h6 class="text-white py-2 text-center">
                Made By Dr.Achmad Nabil Afgareza With &#10084;&#65039; at 2022
            </h6>
        </div>
        <!-- end footer section -->

</body>

</html>

<script>
    `use strict`;
    function refreshTime() {
        const timeDisplay = document.getElementById("time");
        const dateString = new Date().toLocaleString();
        const formattedString = dateString.replace(", ", " - ");
        timeDisplay.textContent = formattedString;
    }
    setInterval(refreshTime, 1000);

    `use strict`
    var datetime = new Date().getDate();
    console.log(datetime);
    document.getElementById("time").textContent = datetime; //it will print on html page

    const AmagiLoader = {
        __loader: null,
        show: function () {

            if (this.__loader == null) {
                var divContainer = document.createElement('div');
                divContainer.style.position = 'fixed';
                divContainer.style.left = '0';
                divContainer.style.top = '0';
                divContainer.style.width = '100%';
                divContainer.style.height = '100%';
                divContainer.style.zIndex = '9998';
                divContainer.style.backgroundColor = 'rgba(250, 250, 250, 0.80)';

                var div = document.createElement('div');
                div.style.position = 'absolute';
                div.style.left = '50%';
                div.style.top = '50%';
                div.style.zIndex = '9999';
                div.style.height = '64px';
                div.style.width = '64px';
                div.style.margin = '-76px 0 0 -76px';
                div.style.border = '8px solid #e1e1e1';
                div.style.borderRadius = '50%';
                div.style.borderTop = '8px solid blue';
                div.animate([
                    { transform: 'rotate(0deg)' },
                    { transform: 'rotate(360deg)' }
                ], {
                    duration: 300,
                    iterations: Infinity
                });
                divContainer.appendChild(div);
                this.__loader = divContainer
                document.body.appendChild(this.__loader);
            }
            this.__loader.style.display = "";
        },
        hide: function () {
            if (this.__loader != null) {
                this.__loader.style.display = "none";
            }
        }
    }

    AmagiLoader.show();
    setTimeout(() => {
        AmagiLoader.hide();
    }, 300);
</script>