<div class="container d-flex justify-content-center align-items-center" style="height: 70vh;">
    <div class="row justify-content-center align-items-center">
    
        <div class="">
            <div class="judul text-center">
                <h3>Selamat Datang</h3>
                <h5>Apoteker <b><%= dataUser.nama_apoteker %></b> !</h5>
                <span class="text-success fw-semibold">  
                    <small> 
                        Selamat Bertugas
                        Di Apotek Pusing Farma
                    </small>
                </span> 
            </div>
        </div>

    </div>
</div>

<style> 
    .container {
        background-image: url("https://twibbon.blob.core.windows.net/twibbon/2018/253/1139c01a-9ebc-4b0c-9be6-add0009e746e.png");
        background-repeat: no-repeat;
        background-position: right;
    }
</style>